.header__lang-link {
  text-decoration: none;
  color:  rgb(255,255,255,1);
  padding-right: 18px;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:last-child {
  padding-right: 0;
}

.header__lang-link:active {
  text-decoration: underline;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
    font-weight: normal;
  }
}