.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  
}

.cover__link:hover {
  position: absolute;
  background: #2A2C2F;
  opacity: 0.8;
  width: 100%;
  height: 100%;  /* если убрать выоту и ширину, то затемнение происходит не на весь блок */
  z-index: 2;
}