.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* Chromium */
  -moz-osx-font-smoothing: grayscale; /* Mozila */
  background-color:#2A2C2F;
  color: rgb(255,255,255,1);
/* Пропорциональное изменение шрифта при масштабировании */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}