.place__image {
  object-fit: cover;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .place__image {
    max-width: 100vw;
  }
}