.lead {
  width: 91%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    width: 100%;
    min-height: 406px;
  }
}