.header {
  width: 94%;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  padding-top: 28px
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 42px;
    align-items: center;
    vertical-align: middle;
  }
}