.header {
  max-width: 1184px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
  padding-right: 48px;
  padding-left: 48px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 42px;
    align-items: center;
    vertical-align: middle;
    padding-right: 16px;
    padding-left: 16px;
}