.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding-right: 18px;
}

.footer__link:last-child {
  padding-right: 0;
}

@media screen and (max-width: 720px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    padding-right: 0;
    padding-bottom: 32px;
  }
  .footer__link:last-child {
    padding-bottom: 0;
  }
}