.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  margin: 0 auto;
  padding-bottom: 32px;
  padding-top: 56px;
}

@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 620px;
    font-size: 76px;
    line-height: 90px;
  }
}

@media screen and (max-width: 550px) {
  .lead__title {
    max-width: 500px;
    font-size: 60px;
    line-height: 80px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 300px;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
  }
}