.cover {
  max-width: 1184px;
  width: 93%;
  min-height: 740px;
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}