.footer__nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

@media screen and (max-width: 720px) {
.footer__nav {
    flex-direction: column;
    }
  }