.lead__image-text {
  font-size: 10px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding-top: 8px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__image-text {
    padding-left: 24px;
  }
}

@media screen and (max-width: 720px) {
  .lead__image-text {
    padding-left: 16px;
  }
}