.cover__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding-bottom: 32px;
  z-index: 2;
  max-width: 560px;
}


@media screen and (max-width: 550px) {
  .cover__title {
    max-width: 400px;
    font-size: 52px;
    line-height: 56px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: 230px;
    padding-bottom: 16px;
  }
}