.place {
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr minmax(min-content, max-content);
  gap: 40px 48px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(1, 100%);
    gap: 32px;
    padding-bottom: 64px;
  }
}