.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  width: 93%;
  min-height: 18px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 91%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 94%;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    max-width: 186px;
    flex-direction: column;
    margin: 0;
    padding-left: 16px;
    padding-top: 64px;
  }
}